<h3>View Registration Details</h3>
<div>
    <div>
        <label>
            <b>Details</b>
        </label>
        {{registration.details}}
        <br>
        <label>
            <b>Student Name:</b>
        </label>
        {{registration.studentName}}
        <br>
        <label>
            <b>Cour Name:</b>
        </label>
        {{registration.courName}}
        <br>
        <label>
            <b>Year:</b>
        </label>
        {{registration.year}}
        <br>
    </div>
</div>