<h2>Registration List</h2>
<table class="table table-striped" style="margin-bottom: 100px;max-height: 100px;overflow-y: auto;">
    <thead>
        <tr>
            <th></th>
            <th>Details</th>
            <th>Student Name</th>
            <th>Cour Name</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let registration of registrations;let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ registration.details }}</td>
            <td>{{ registration.studentName }}</td>
            <td>{{ registration.courName }}</td>
            <td>{{ registration.year }}</td>
            <td>
                <button *ngIf="isLoggedIn" (click)="updateRegistration(registration.id)" class="btn btn-info">Update</button>
                <button *ngIf="isLoggedIn" (click)="deleteRegistration(registration.id)" class="btn btn-danger" style="margin-left: 10px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
                  </svg> Delete</button>
                  <button (click)="registrationDetails(registration.id)" class="btn btn-danger" style="margin-left: 10px">View</button>
            </td>

        </tr>
    </tbody>
</table>
<button *ngIf="isLoggedIn" (click)="goToCreateRegistration()" type="button" class="bi bi-plus-circle-fill btn btn-success my-fixed-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
  </svg> Add Registration</button>