<h2>Year List</h2>
<table class="table table-striped" style="margin-bottom: 100px;max-height: 100px;overflow-y: auto;">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let year of years;let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ year.name }}</td>
            <td>
                <button *ngIf="isLoggedIn" (click)="updateYear(year.id)" class="btn btn-info">Update</button>
                <button *ngIf="isLoggedIn" (click)="deleteYear(year.id)" class="btn btn-danger" style="margin-left: 10px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
                  </svg> Delete</button>
            </td>

        </tr>
    </tbody>
</table>
<button *ngIf="isLoggedIn" (click)="goToCreateYear()" type="button" class="bi bi-plus-circle-fill btn btn-success my-fixed-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
  </svg> Add Year</button>